<!--
    templateType: global_partial
    label: Header
    isAvailableForNewContent: false
-->
<!-- Begin partial -->

<header class="header">
  <div class="inner-header">
    <h1>{% module "text" path="@hubspot/text" value="Headline" %}</h1>
    <div class="quote">
      {% module "rich_text" path="@hubspot/rich_text", label="Quote Section" %}
    </div>
    <div class="nav">
      {% module "menu" path="/cms-practicum-theme/modules/menu", label="Menu" %}
    </div>
  </div>
</header>

<!-- End partial -->
